:root {
  --background-color: #fff;
  --heading-color: #003049;
  --text-color: #000;
  --link-color: #c1121f;
  --visited-color: #8f1d00;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville Regular'), url('/fonts/LibreBaskerville-Regular.ttf') format('TrueType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville Bold'), url('/fonts/LibreBaskerville-Bold.ttf') format('TrueType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville Italic'), url('/fonts/LibreBaskerville-Italic.ttf') format('TrueType');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Libre Baskerville', Georgia, serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.25rem; /* 20px */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: var(--heading-color);
  font-weight: 600;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  min-width: initial;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

tr:nth-child(even) td {
  background-color: #ececec;
}

tr:nth-child(odd) td {
  background-color: var(--background-color);
}

thead {
  display: none; 
}

button {
  border: none;
  background: inherit;
  text-decoration: underline;
  color: var(--heading-color);
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--link-color);
}

img {
  max-width: 100%;
  height: auto;
}

.side-bar {
  background-color: var(--background-color);
}

.side-bar .site-nav, 
.side-bar .nav-list, 
.side-bar .nav-list-item, 
.side-bar .nav-list-link {
  font-size: 1.25rem; /* 20px */
  font-family: 'Libre Baskerville', Georgia, serif;
}

.nav-list .nav-list-item .nav-list-link.active {
  background-image: none;
  color: #780000;
}